/* GENERAL RULES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: #ffffff;
  background-color: #0a0a0a;
}

#app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
}

/* titles */
h1 {
  font-size: 1.5rem;
  font-family: "Bebas Neue", cursive;
  text-align: center;
}

h2 {
  font-size: 1rem;
}

/* h3 {
  font-size: 0.9rem;
} */

/* paragraphs */
/* p {
  margin-top: 20px;
} */

/* HEADER */
header {
  width: 100%;
  height: 100px;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

header input {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  background-color: rgb(41, 41, 41);
  font-size: medium;
  outline: none !important;
}

#site-logo > img {
  margin-left: 30px;
}

.search {
  margin-right: 50px;
}

.button-search {
  width: 85px;
  height: 40px;
  border: none;
  border-radius: 2px;
  background-color: #f40612;
  color: #ffffff;
  font-size: medium;
  font-weight: 600;
  cursor: pointer;
}

/* MAIN */
.poster {
  width: 250px;
  height: auto;
}

.subtitle {
  margin-top: 0px;
}

#films {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: auto;
}

#series {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: auto;
}

.box {
  width: 280px;
  height: auto;
  margin: 21px -2px;
  position: relative;
  display: flex;
  /* flex-wrap: nowrap; */
  justify-content: space-around;

  /* display: flex;
  flex-direction: column;
  align-items: center; */
}



.main-title {
  min-width: 400px;
}

.noLen {
  width: 900px;
  height: 230px;
  background-color: grey;
}

.infobox {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: #000000;
}

.box:hover .infobox{ 
  display: block;
}

/* country flags */
.flag {
  width: 20px;
  height: auto;
  margin-left: 5px;
}

.language {
  font-size: 1rem;
}

.language span {
  font: 1rem;
}

.vote {
  display: flex;
  align-items: center;
  min-width: 400px;
}

.vote > .fas.fa-star {
  color: #fec500;
}
