/* GENERAL RULES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: #ffffff;
  background-color: #030303;
}

#app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
}

/* titles */
h1 {
  font-size: 1.5rem;
  font-family: "Bebas Neue", cursive;
  text-align: center;
}

h2 {
  font-size: 1rem;
}

/* HEADER */
header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  position: relative;
  padding: 0 20px;
  background-color: #000000;
}

header input {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  background-color: rgb(20, 20, 20);
  font-size: medium;
  outline: none !important;
}

#site-logo > img {
  margin-left: 30px;
}

/* NAVBAR */
#header-nav {
  position: absolute;
  left: 19%;
}

#header-nav li {
  list-style-type: none;
  display: inline-flex;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.1rem;
  color: #ffffff;
}

#header-nav li,
a {
  margin: 0 7px;
  transition: 0.3s;
  opacity: 1;
}

ul li a:hover::before {
  transform: scale(1.1);
  opacity: 1;
}

ul li a:hover {
  color: #f40612;
  text-shadow: 0 0 #f40612;
  opacity: 1;
}

#header-nav li:hover a {
  cursor: pointer;
  opacity: 1;
}

#bell {
  position: absolute;
  left: 92%;
}

.button-search {
  width: 85px;
  height: 40px;
  border: none;
  border-radius: 2px;
  background-color: #f40612;
  color: #ffffff;
  font-size: medium;
  font-weight: 600;
  cursor: pointer;
}

#search {
  position: absolute;
  left: 79%;
}

#profile-img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin-right: 30px;
}

/* animated searchbar */
input {
  outline: none;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}

input[type="search"] {
  padding: 9px 10px 9px 32px;
  background: #000000 url(../img/search-icon.png) no-repeat 9px center;
  padding: 9px 10px 9px 32px;
  width: 30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

input[type="search"]:focus {
  width: 100px;
  background-color: rgb(8, 8, 8);
  border-color: #030303;
}

input:-moz-placeholder {
  color: rgb(255, 255, 255);
}
input::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
}

/* MAIN */
.poster {
  width: 300px;
  height: auto;
  border-radius: 3px;
}

.subtitle {
  margin-top: 0px;
}

#films {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: auto;
}

#series {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 96%;
  margin: auto;
}

.box {
  width: 300px;
  height: auto;
  margin: 21px 2px;
  position: relative;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.main-title {
  min-width: 400px;
}

.missing-img {
  width: 300px;
  height: auto;
  background-color: rgb(255, 255, 255);
  background-image: url(../img/lookingforimg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.infobox {
  opacity: 0;
  transition: 0.5s ease;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: #030303;
}

.box:hover .infobox {
  opacity: 1;
}

/* country flags */
.flag {
  width: 20px;
  height: auto;
  margin-left: 5px;
}

.language {
  font-size: 1rem;
}

.language span {
  font: 1rem;
}

/* stars */
.vote {
  display: flex;
  align-items: center;
  min-width: 400px;
}

.vote > .fas.fa-star {
  color: #fec500;
}



